<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymmleaf.org">
<head th:replace="~{layout::head('Author')}">
</head>
<body class="main-body">
<nav th:replace="~{layout::navigation}"></nav>
<main>
  <div class="landing">
      <div class="mainLanding">
        <h1>Winterhold Library</h1>
          <p>
              Knowledge is the best weapon you have pleas
              find some fascinating books we have
              this app will help you do that, as long as you
              keep extend your membership!
              (its totally free!)
          </p>
      </div>
  </div>
</main>
<footer th:replace="~{layout::footer}"></footer>
<th:block th:replace="~{layout::javascript}"></th:block>
<!--    untuk th:block di bacanya seperti script    -->
</body>
</html>
